/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

body{
  background-color: rgb(110, 96, 96)
}

.form-div{
  padding: 10px;
  margin: 0 auto;
  margin-top: 60px;
}
h1{
  text-align: center;
  padding-bottom: 30px;
}


